@charset "utf-8";
@import url("font.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}
ul {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
html {
    font-size: 16px;
    background: #000;
}
body {
    font-family: "D-DIN", sans-serif;
    color: #000;
    line-height: 1.4;
    word-break: keep-all;
    width: 100%;
    user-select: none;
}
/* 공용클래스 */
.section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.inner {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.left-bottom {
    position: absolute;
    left: 50px;
    bottom: 15%;
    text-align: left;
    width: 50%;
    max-width: 520px;
}

.left-bottom p {
    font-size: 20px;
    line-height: 38px;
    color: #fff;
}
.left-bottom h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
}
.svgscroll {
    position: absolute;
    right: 50%;
    bottom: 7%;
    /* transform: translate(50%, 50%); */
    animation: wheel 3s infinite;
}
.svgscroll path {
    fill: none;
}
@keyframes wheel {
    0% {
        /* opacity: 0; */
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        bottom: 5%;
    }
    100% {
        bottom: 7%;
        opacity: 0;
    }
}
.btn {
    position: relative;
    display: inline-block;
    min-width: 160px;
    padding: 0 15px;
    margin: 30px 0 0;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}
.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform-origin: top center;
    transform: scale3d(1, 0, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover .hover {
    transform: scale3d(1, 1, 1);
    transform-origin: bottom center;
}
.btn .text {
    position: relative;
    font: 14px/50px "D-DIN", Arial, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover .text {
    color: #000;
}
/* header */
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}
.header-active {
    opacity: 0;
}
.header-inner {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 210px;
    transform: translateY(-50%);
}
.logo svg {
    width: 100%;
    height: 100%;
}
.logo .fill-white {
    fill: #fff;
}
.gnb {
    position: absolute;
    left: 285px;
    top: 38px;
    height: 30px;
}
.gnb ul {
    display: flex;
    gap: 30px;
}
.gnb ul li a {
    position: relative;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    transition: opacity 0.6s linear;
}
.gnb a::after,
.shop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.gnb a:hover::after,
.shop:hover::after {
    transition-duration: 0.4s;
    transform: scaleX(1);
    transform-origin: left center;
}

.shop {
    position: absolute;
    top: 43px;
    right: 95px;
    font-size: 14px;
    font-weight: 600;
}
.menu-trigger {
    position: absolute;
    top: 47%;
    right: 50px;
    width: 16px;
    height: 10px;
    z-index: 111;
}
.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 4px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
    transform: translateY(4px) rotate(45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
    transform: translateY(-4px) rotate(-45deg);
}

.side-wrap {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
    opacity: 0;
    transition: opacity 0.5s;
}
.side-wrap-active {
    top: 0;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}
.side-gnb {
    position: fixed;
    right: -350px;
    top: 0;
    width: 350px;
    height: 0;
    background: #000;
    z-index: 12;
    position: all 0.5s;
    transition: right 0.5s;
}
.side-gnb-active {
    right: 0;
    top: 0;
    height: 100%;
    transition: right 0.5s;
}
.side-gnb ul {
    position: absolute;
    top: 75px;
    right: 50px;
    width: 250px;
    text-align: right;
}
.side-gnb ul li {
    border-bottom: 1px solid #252525;
    transition: all 0.5;
}
.side-gnb a {
    font-size: 16px;
    line-height: 40px;
    font-weight: 200;
}
/* sction */
.section-1 {
    background: url("../images/section_1.jpeg") no-repeat center / cover;
}

.section-2 {
    background: url("../images/section_2.jpeg") no-repeat center / cover;
}

.section-3 {
    background: url("../images/section_3.jpeg") no-repeat center / cover;
}
/* footer */
.footer {
    padding: 20px 0;
}
.footer p {
    text-align: center;
}
.footer span {
    font-size: 12px;
    margin: 0 20px;
    color: #fff;
}
.footer a {
    display: inline;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 20px;
    opacity: 1;
    transition: opacity 0.8s;
}
.footer a:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1220px) {
    .gnb ul {
        gap: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .header {
        height: 60px;
    }
    .gnb ul {
        display: none;
    }
    .logo {
        left: 50%;
        width: 150px;
        transform: translateX(-50%);
    }
    .shop {
        display: none;
    }
    .footer span {
        display: block;
        margin-bottom: 26px;
    }
    .left-bottom h1g {
        font-size: 36px;
        line-height: 36px;
    }
}
